/** {
    padding: 0;
    margin: 0;
    font-family:'Times New Roman', Times, serif;
}

.kontajner {
    width: 100%;
    background-position: center;
    background-size: cover;
    
    box-sizing: border-box;
}

.logo{
    width: 50px;
    margin: 10px;
    float: left;

}

nav{
    text-align: right;
}

.navigacny_panel{
    background-color: red;
    width: 100%;
    display: flex;
    text-align: center;
    /*float: right;
    display: flex;
    padding: 10px;

}


.zoznam{
    float: right;
    display: flex;
    padding: 10px;



.logo_menu{
    width: 35px;
    float: right;
    margin-left: 10px;

    
}

h1{
    margin-top: 30px;
}*/

*{
    margin: 0;
    padding: 0;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*background-color: rgb(14, 15, 18);*/
}

body{
   background-color: rgb(14, 15, 18);
   background-color: none;
    
}

.kontajner {
    width: 100%;
    box-sizing: border-box;
    
    
}

.navigacny_panel{
    height: 12%;
    display: flex; /*umžňuje nastaviť rozloženie prvkov na stránke*/
    align-items: center;
    margin: auto;
    padding: 20px;
    background-color: rgb(14, 15, 18);
    /*background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)),url(../images/pozadie.jpg);
    background-position: 0px 455px;
    background-size: cover;*/   
    position: sticky;
    top: 0px;
    
}

.logo_menu{
    width: 50px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    transition: transform 0.3s;
}

.logo{
    margin-right: 10px;
    margin-left: 10px;
    width: 50px;
    cursor: pointer;
    transition: transform 0.3s;
    color: white;
}

.nazov{
    margin-left: 20px;
    margin-top: auto;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: transform 0.3s;
}

a{
    text-decoration: none;
}

nav{
    flex: 1;
    text-align: right;
    text-transform: uppercase;
    
}

nav ul li{ /*určím presné li ktoré je v ul, a to mi to upraví*/
    list-style: none;
    display: inline-block;/*rozhodí prvky vedľa seba*/
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.obrazok_doprava{
    float: right;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 40%;
    transition: transform 0.3s;
}

/*.nepremeskajte_vypredaj{
    color:white;
    padding: 10px;
    margin-top: 30px;
    margin-left: 160px;
}*/


    
.telo{
    margin-top: 20px;
    margin-left: 30px;
    width: 50%;
    background-color: none;
   
}

.A1{
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-left: 30px;
    margin-top: 200px;
    text-transform: uppercase;
 
    
}

.text_zlavy{
    color: white;
    margin-left: 30px;
    font-size: 20px;
}
   
.platnost_akcie{
    color: white;
    margin-left: 30px;
    font-size: 13px;
}

.akcia_button{
    background-color: none;
    width: 700px;
    margin-left: 30px;
    margin-top: 20px;
    border: solid 1px white;
    border-radius: 2px;
    opacity: 1;
    transition: 0.2s;
    text-align: center;
    cursor: pointer;
    
}

.text_button{
    color: rgb(213, 60, 100);
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 15px;
    font-weight: bold;
}

.produkty_span{
    color: rgb(219, 126, 49) ;
}
.zoznam{
    transition: transform 0.3s;
}



.zoznam:hover{
    transform: translateY(-3px);
}



.akcia_button:hover{
    /*transform: translateY(-3px);*/
    opacity: 1;
    background-color: black;    
    border: solid 1px white;
    border-radius: 2px;
    text-decoration: none;
}

.obrazok_doprava:hover{
    transform: translateY(-3px);
}

.copyright{
    color: whitesmoke;
    text-align: center;
    margin: 10px;
    margin-top: 66px;
    font-size: 10px;
    text-transform:uppercase;
    



