*{
    margin: 0;
    padding: 0;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*background-color: rgb(14, 15, 18);*/
}

body{
    background-color: rgb(14, 15, 18);
}

.kontajner {
    width: 100%;
    background-position: center;
    background-size: cover;
   
    box-sizing: border-box;
    margin-bottom: 20px;
    
}

.navigacny_panel{
    height: 12%;
    display: flex; /*umžňuje nastaviť rozloženie prvkov na stránke*/
    align-items: center;
    margin: auto;
    padding: 20px;
    background-color: rgb(14, 15, 18);
    position: sticky;
    top: 0px;
    
}

.logo_menu{
    width: 50px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    transition: transform 0.3s;
}

.logo{
    margin-right: 10px;
    margin-left: 10px;
    width: 50px;
    cursor: pointer;
    transition: transform 0.3s;
    color: white;
}

.nazov{
    margin-left: 20px;
    margin-top: auto;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: transform 0.3s;
}

a{
    text-decoration: none;
}

nav{
    flex: 1;
    text-align: right;
    text-transform: uppercase;
    background-color: rgb(14, 15, 18);
    
}

nav ul li{ /*určím presné li ktoré je v ul, a to mi to upraví*/
    list-style: none;
    display: inline-block;/*rozhodí prvky vedľa seba*/
    margin-left: 20px;
    background-color: rgb(14, 15, 18);
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    background-color: rgb(14, 15, 18);
}

.nadpis{
    color:rgb(250, 167, 101) ;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.vas_span{
    color: rgb(213, 60, 100);
    
}

.galaxy_s21{
    margin-bottom: 50px;
}

.pixel_6{
    margin-bottom: 50px;
}

.apple_watch{
    margin-bottom: 50px;
}

.galaxy_watch{
    margin-bottom: 50px;
}

.surface_studio{
    margin-bottom: 50px;
}

.nadpis_s21{
    color: whitesmoke;
    float: right;
    margin-top: 15px;
    margin-right: 460px;
    width: 250px;
    text-transform: uppercase;
    
}

.text_s21{
    color: whitesmoke;
    float: right;
    margin-top: -350px;
    margin-right: 20px;
    margin-left: 825px;
}

.s21_akcia{
    width: 50%;
    margin-left: 20px;
    margin-top: 20px;
    /*transition: transform 0.4s;*/
    opacity: 1;
    transition:0.2s;
    cursor: pointer;
}

.parametre_s21{
    color: whitesmoke;
    margin-right: 20px;
    margin-left: 825px;
    margin-top: -250px;

}

.s21_cena{
    color: whitesmoke;
    margin-left: 825px;
    margin-right: 0px;
    margin-top: 5px;
    width: 180px;
    
    
}

.stara_cena{
    text-decoration: line-through;
    color: whitesmoke;
}

.nova_cena{
    color: tomato;
    font-size: 30px;
}

.button_s21{
    color: black;
    background-color: white;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 2px;
    border: solid 1px white;
    text-transform: uppercase;
    float: right;
    margin-top: -40px;
    margin-right: 410px;
    opacity: 1;
    transition:0.2s;
    cursor: pointer;
}

.button_surface{
    color: black;
    background-color: white;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 2px;
    border: solid 1px white;
    text-transform: uppercase;
    float: right;
    margin-top: -40px;
    margin-right: 380px;
    opacity: 1;
    transition: 0.2s;
    cursor: pointer;
}
.zoznam{
    transition: transform 0.3s;
}

.zoznam:hover{
    transform: translateY(-3px);
}

.button_s21:hover{
    opacity: 1;
    background-color: black;
    color: white;
    border: solid 1px white;
    border-radius: 2px;
}

.button_surface:hover{
    opacity: 1;
    background-color: black;
    color: white;
    border: solid 1px white;
    border-radius: 2px;
}

.s21_akcia:hover{
    /*transform: scale(0.98);*/
    opacity: 0.6;
}
.copyright{
    color: whitesmoke;
    text-align: center;
    margin: 10px;
    font-size: 10px;
    text-transform:uppercase;
    
}



